[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
notebook="==6.4.10"
pytest="*"
requests-mock="*"
mongomock="*"

[packages]
requests = "==2.24.0"
apache-airflow = "==1.10.12"
bs4 = "*"
attrs = "*"
pymongo = "*"

[requires]
python_version = "3.7"
